VITE_API_URL=http://localhost:4045
VITE_WS_URL=http://localhost:4045
VITE_TON_NETWORK=testnet
VITE_TONCONNECT_MANIFEST_URL=https://luckyton.vercel.app/tonconnect-manifest.json
VITE_TG_BOT_URL=https://t.me/your_bot_here
VITE_HOUSE_WALLET=0:ba0440e34b26e89304678b69d9a199a2d53aa3689513e9730a979997a86daa89
